# ====================================
# Archivos compilados
# ====================================
*.class
*.o
*.out
*.exe

# ====================================
# Archivos de log
# ====================================
*.log

# ====================================
# Archivos temporales
# ====================================
*.tmp
*.temp
*.swp
*.swo

# ====================================
# Paquetes y archivos comprimidos
# ====================================
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ====================================
# Errores de JVM
# ====================================
hs_err_pid*
replay_pid*
